body {
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
      }

 
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

header img {
    display: block;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;    
}

footer a {
    color: #ffffff;
    text-decoration-line:underline;
}     