    .chat-messages-container {
        flex-grow: 1;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow-y: scroll;
        scrollbar-width: none; /* hide scrollbar */        
      }
